*{
	font-family: Lucida Console;
}
body{ 
	background: url(link/img/Rm/Laptops.png) no-repeat center top;
	background-size: 100%;
	background-color: black;
	font-size: 120%;
}
#container{ 
	background: #151719;
	color: white;
	border: 10px double white;
	padding: 2%;
	margin: auto;
    margin-top: 15%;
    width: 20%;
    position: relative;
	line-height: 20px;
}
a{
	color: white;
}
a:hover{
	background: white;
	color: black;
}